<mat-card appearance="outlined" class="action-display-card">
  <div class="action-display-content">
    <div class="action-display-title">Adaption</div>
    <div class="action-display-area">
      <div class="action-display-area-element-spaces">
        <app-element-space></app-element-space>
        <app-element-space></app-element-space>
        <app-element-space></app-element-space>
        <app-element-space></app-element-space>
      </div>
      <div class="action-display-area-action-pawn-spaces">
        <app-action-pawn-space></app-action-pawn-space>
        <app-action-pawn-space></app-action-pawn-space>
        <app-action-pawn-space></app-action-pawn-space>
      </div>
    </div>
  </div>
</mat-card>
