.animal-card {
  width: 280px;
}

.animal-card-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 32px;
  font-weight: bold;
  gap: 10px;
  width: 100% !important;
  padding-left: 10px;
}

.element-display {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  flex-direction: row;
  gap: 10px;
  padding-left: 10px;
  width: 100% !important;
}

.empty-element {
  width: 45px;
  height: 45px;
  border: 1px solid #d3d3d3;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece-counter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.piece-counter .piece-counter-header {
  font-size: 16px;
}

.piece-counter .piece-counter-number {
  font-size: 32px;
  font-weight: bold;
  height: 100%;
}
