.action-pawn {
  width: 100%;
  height: 100%;
}

.amphibian {
  background-color: #1e90ff;
}

.arachnid {
  background-color: #ff0000;
}

.bird {
  background-color: #ffff00;
}

.insect {
  background-color: #00ff00;
}

.mammal {
  background-color: #ffffff;
}

.reptile {
  background-color: #000000;
}

// Todo: figure out what to do with eyeball. Its not really an Action Pawn
.eyeball {
  background-color: #faf0e6;
  border: 2px dotted #000000;
}
