body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  background: #fff;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin: 0 auto;
}

.card-header {
  font-size: 24px;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin: 0 auto; /* Center the form horizontally */
}

.form-row {
  display: flex;
  margin-bottom: 16px; /* Add space between rows */

  label {
    width: 30%; /* Label column width */
    text-align: right; /* Align labels to the right */
    margin-right: 16px; /* Space between label and input */
  }

  input {
    width: 70%; /* Input field takes the rest of the space */
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
  }

  button {
    width: 70%; /* Make the button the same width as the input */
    padding: 10px;
  }

  .spacer-text {
    width: 30%; /* Matches the width of the label to keep alignment */
    display: flex;
    justify-content: center;
  }
  .spacer-input {
    display: flex;
    justify-content: center;
    width: 70%; /* Matches the width of the label to keep alignment */
  }
  .sign-up-link {
    font-size: 14px;
  }
}
