<body>
  <mat-card appearance="outlined" class="auth-card">
    <div class="card-header">Sign Up for VPA Games</div>
    <mat-card-content>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="form-container">
        <div class="form-row">
          <label for="username">Username:</label>
          <input id="username" formControlName="username" type="text" />
        </div>

        <div class="form-row">
          <label for="email">Email:</label>
          <input id="email" formControlName="email" type="email" />
        </div>

        <div class="form-row">
          <label for="password">Password:</label>
          <input id="password" formControlName="password" type="password" />
        </div>
        .
        <!-- Submit Button Row -->
        <div class="form-row">
          <div class="spacer-text"></div>
          <button mat-raised-button type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
        </div>

        <!-- Error Message Row -->

        <div class="form-row">
          <div class="spacer-text"></div>
          <div class="error-messages">
            @if (errorMessage()) {
              <div>{{ errorMessage() }}</div>
            }
            @if (signUpForm.invalid && signUpForm.dirty) {
              @if (signUpForm.get("email")?.errors?.["email"]) {
                <div>Please enter a valid email.</div>
              }
              @if (signUpForm.get("password")?.errors?.["minlength"]) {
                <div>Password must be at least 6 characters long.</div>
              }
            }
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</body>
