body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Full height of the viewport */
}

.sign-up-card {
  background: #fff;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin: 0 auto;
}

.card-header {
  font-size: 24px;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin: 0 auto; /* Center the form horizontally */
}

.form-row {
  display: flex;
  margin-bottom: 16px; /* Add space between rows */

  label {
    width: 30%; /* Label column width */
    text-align: right; /* Align labels to the right */
    margin-right: 16px; /* Space between label and input */
  }

  input {
    width: 70%; /* Input field takes the rest of the space */
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
  }

  button {
    width: 70%; /* Make the button the same width as the input */
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
    }
  }

  .spacer {
    width: 30%; /* Matches the width of the label to keep alignment */
  }
}

/* Styling for the error message */
.error-messages {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  width: 70%; /* Align error messages in the same width as the input */
}
