@import "../../../../../../styles/spaces";

.element-space {
  background-color: #faead9;
}

.element-space-icon-box {
  position: relative;
  z-index: 1;
}

.element-space-icon-box img {
  padding-left: 5px;
  width: 65%;
  height: auto;
  display: block;
  filter: grayscale(100%);
  opacity: 0.4;
}

.element-piece {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
