<body>
<section class="draw-pool-play-area">
  <section class="button-container">
    <button mat-raised-button (click)="createGame()">Initialize</button>
    <button mat-raised-button (click)="startTurn()">Start Turn</button>
    <button mat-raised-button (click)="draw()">Draw!</button>
    <button mat-raised-button (click)="endTurn()">End Turn</button>
  </section>
  <section class="draw-pool-display">
    <div class="draw-pool-counter">Draw Pool: {{ drawPoolLength }}</div>
    <div class="draw-pool-log">
      <div class="log-line">
        @for (line of log; track $index) {
          <p>{{ line }}</p>
        }
      </div>
    </div>
  </section>
</section>
<div class="icon-area">
  <section class="icon-display">
    <div class="element-circle grass">
      <img src="dominant-species/element/noun-grass-7195612.svg" alt="Grass Element" class="element">
    </div>
    <div class="element-circle grub">
      <img src="dominant-species/element/noun-grub-3386143.svg" alt="Grub Element" class="element">
    </div>
    <div class="element-circle meat">
      <img src="dominant-species/element/noun-cow-skull-151117.svg" alt="Meat Element" class="element">
    </div>
    <div class="element-circle seed">
      <img src="dominant-species/element/noun-seed-6850047.svg" alt="Seed Element" class="element">
    </div>
    <div class="element-circle sun">
      <img src="dominant-species/element/noun-sun-7300296.svg" alt="Sun Element" class="element">
    </div>
    <div class="element-circle water">
      <img src="dominant-species/element/noun-water-water-1235535.svg" alt="Water Element" class="element">
    </div>
  </section>
  <section class="icon-display">
    <div class="action-pawn-circle eyeball">
      <img src="dominant-species/noun-eye-2037742.svg" alt="Eyeball Space" class="action-pawn">
    </div>
    <div class="action-pawn-circle amphibian">
      <img src="dominant-species/animal/noun-gecko-367390.svg" alt="Amphibian Action Pawn" class="action-pawn">
    </div>
    <div class="action-pawn-circle arachnid">
      <img src="dominant-species/animal/noun-spider-7144060.svg" alt="Arachnid Action Pawn" class="action-pawn">
    </div>
    <div class="action-pawn-circle bird">
      <img src="dominant-species/animal/noun-eagle-6606521.svg" alt="Amphibian Action Pawn" class="action-pawn">
    </div>
    <div class="action-pawn-circle insect">
      <img src="dominant-species/animal/noun-grasshopper-7049525.svg" alt="Amphibian Action Pawn" class="action-pawn">
    </div>
    <div class="action-pawn-circle mammal">
      <img src="dominant-species/animal/noun-monkey-2997582.svg" alt="Amphibian Action Pawn" class="action-pawn">
    </div>
    <div class="action-pawn-circle reptile">
      <img src="dominant-species/animal/noun-snake-4412103.svg" alt="Amphibian Action Pawn" class="action-pawn">
    </div>
  </section>
</div>
</body>
