body {
  background-color: #F8F9FA;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

button {
  width: 115px;
}

.draw-pool-play-area {
  display: flex;
  flex-direction: row;
}

.draw-pool-display {
  margin-left: 100px;
  flex-direction: column;
}

.draw-pool-log {
  height: calc(1.2em * 20);
  width: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px;
  white-space: pre-wrap;
}

.log-line {
  padding: 2px 0; /* Optional: Space between lines */
}

.icon-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon-display {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.element-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  width: 100%;
  height: 100%;
}

.grass {
  background-color: #4CAF50;
}

.grub {
  background-color: #FF4081;
}

.meat {
  background-color: #9E9E9E;
}

.seed {
  background-color: #FFC107;
}

.sun {
  background-color: #F44336;
}

.water {
  background-color: #2196F3;
}

.action-pawn-circle {
  width: 43px;
  height: 43px;
  border: 2px solid #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyeball {
  background-color: #FAF0E6;
  border: 2px dotted #000000;
}

.action-pawn {
  width: 100%;
  height: 100%;
}

.amphibian {
  width: 43px;
  height: 43px;
  background-color: #1E90FF;
  border: 2px solid #000000;
}

.arachnid {
  background-color: #FF0000;
}

.bird {
  background-color: #FFFF00;
}

.insect {
  background-color: #00FF00;
}

.mammal {
  background-color: #FFFFFF;
}

.reptile {
  background-color: #000000;
}
