body {
  background-color: #F8F9FA;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

button {
  width: 115px;
}

.draw-pool-play-area {
  display: flex;
  flex-direction: row;
}

.draw-pool-display {
  margin-left: 100px;
  flex-direction: column;
}

.draw-pool-log {
  height: calc(1.2em * 20);
  width: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px;
  white-space: pre-wrap;
}

.log-line {
  padding: 2px 0; /* Optional: Space between lines */
}

.icon-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon-display {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
